<header>
  {%- if collections.menus.length %}
  <ul class="nav">
    {% for item in collections.menus %}
      <li>
        <a href="{{ item.url | url }}">{{ item.data.menus.title }}<small>{{ item.data.menus.subtitle or '&nbsp;' | safe }}</small></a>
      </li>
    {% endfor %}
  </ul>
  {%- endif %}
  <h1>{{ title }}</h1>
  {%- if subtitle %}<p class="subtitle">{{ subtitle | safe }}</p>{% endif %}
</header>
