{% extends "layouts/base.njk" %}
{% block content %}
    <p class="date">
      Posted on <time datetime="{{ date }}">{{ date | dateDisplay }}</time>
    </p>
    <main>
      {{ content | safe }}
    </main>
{% endblock %}
